.imagen1{
    width: 500px;
}
.homeLetras{
    font-size: 20px;
    margin-left: 20px;
    font-style: italic;
}
.home{
    margin-top: 5%;
}
.tituloHome{
    font-style: italic;
}
a:hover{
    color: aqua;
}
.mainContainer{
    background-color: khaki;
}

.imagenGal{
    width:200px;
    height: 200px;
    filter:alpha(opacity=70);
    opacity: 1.0;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    color: transparent;
    text-align: center;
    
}
.galeria{
    background-color: rgb(127, 255, 244);
}
.imagenGal:hover{
    transform:scale(1.5);
    filter:alpha(opacity=100);
    opacity: 0.7;
    color: black;
}

.singIn{
    margin-top: 10%;
}
.tableSing{
    background-color: azure;
}

.profile{
    width: 400px;
    height: 400px;
    margin-left: 2%;
}
.profile2{
    width: 600px;
    height:700px;
}
.tituloInfo{
    font-size: 300%;
    color: brown;
    font-style: italic;
}
.textoInfo{
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.concierto{
    width:500px;
    height:500px;
}