.imagen1{
    width: 500px;
}
.homeLetras{
    font-size: 20px;
    margin-left: 20px;
    font-style: italic;
}
.home{
    margin-top: 5%;
}
.tituloHome{
    font-style: italic;
}
a:hover{
    color: aqua;
}
.mainContainer{
    background-color: khaki;
}

.imagenGal{
    width:200px;
    height: 200px;
}